<%- @title = "Export" -%>

<p>You can export all the pages in this web as a zip file in either HTML (with working links and all) or the pure markup (to import in another wiki).</p> 

<ul id="feedsList">
  <li><%= link_to 'HTML', :web => @web.address, :action => 'export_html' %></li>
  <li><%= link_to "Markup (#{@web.markup.to_s.capitalize})", :web => @web.address, :action => 'export_markup' %></li>
</ul>
