<% @title = "#{@page.plain_name} is locked" %>

<% if @page.lock_duration(Time.now) == 0 %>
  <p><%= @page.locked_by_link %> just started editing this page.</p>
<% else %>
  <p><%= @page.locked_by_link %> has been editing this page for <%= @page.lock_duration(Time.now) %> minutes.</p>
<% end %>

<p>
  <a href="<%= @page.name %>?break_lock=1" accesskey="E">Edit the page anyway</a> |
  <a href="../show/<%= @page.name %>">Cancel</a>
</p>
