<% @title = "#{@web_name} Login" %><% @hide_navigation = true %>


<%= form_tag({ :controller => 'wiki', :action => 'authenticate', :web => @web.address},
    {'id' => 'loginForm', 'method' => 'post'})
%>
  <p>
    <b>Password</b><br />
    <input type="password" name="password" />
  </p>
<%= end_form_tag %>
