<% @title = "#{@web_name} Login" %><% @hide_navigation = true %>

<p>
<%= form_tag({ :controller => 'wiki', :action => 'authenticate', :web => @web.address},
    { 'name' => 'loginForm', 'id' => 'loginForm', 'method' => 'post'})
%>
    <b>Password</b><br />
    <input type="password" name="password" id="password" default="yes" />
<%= end_form_tag %>
</p>

<script language="JavaScript">
  document.forms["loginForm"].elements["password"].focus();
</script>
