\documentclass[12pt,titlepage]{article}

\usepackage{amsmath}
\usepackage{amsfonts}
\usepackage[OT1]{fontenc}       %rigtige danske bogstaver...
\usepackage{graphicx}
\usepackage{ucs}
\usepackage[utf8x]{inputenc}
\usepackage{hyperref}

%-------------------------------------------------------------------

\begin{document}

\sloppy

%-------------------------------------------------------------------

\section*{<%= @page.name %>}

<%= @tex_content %>

\end{document}