\documentclass[12pt,titlepage]{article}

\usepackage{amsmath}
\usepackage{amsfonts}
\usepackage{graphicx}
\usepackage[utf8]{inputenc}
\usepackage{hyperref}

%-------------------------------------------------------------------

\title{<%= @web_name %>}

\begin{document}

\maketitle

\tableofcontents
\pagebreak

%-------------------------------------------------------------------

<%= @tex_content %>

\end{document}
