<h3>Markdown+blahtex/PNG formatting tips (<a target="_new" href="http://daringfireball.net/projects/markdown/syntax">basics</a>, <a target="_new" href="http://michelf.com/projects/php-markdown/extra/">extended syntax</a>, <a target="_new" href="https://golem.ph.utexas.edu/~distler/maruku/proposal.html">metadata syntax</a>, <a target="_new" href="https://golem.ph.utexas.edu/~distler/maruku/div.html">div syntax</a><%= ", <a target='_new' href='https://golem.ph.utexas.edu/instiki/show/Tikz'>Tikz</a>".html_safe if ENV['tikz_server'] %>)</h3>
<p>For a list of the LaTeX commands supported here, see the <a href="http://www.blahtex.org/manual.html">BlahTeX manual</a>.</p>
<%= render(:file => "markdown_table") -%>
