<table cellspacing="0" cellpadding="0">
  <tr><td>_your text_</td><td class="arrow">&#x2192;</td><td><em>your text</em></td></tr>
  <tr><td>**your text**</td><td class="arrow">&#x2192;</td><td><strong>your text</strong></td></tr>
  <tr><td>`my code`</td><td class="arrow">&#x2192;</td><td><code>my code</code></td></tr>
  <tr><td>* Bulleted list<br />* Second item</td><td class="arrow">&#x2192;</td><td>&#8226; Bulleted list<br />&#8226; Second item</td></tr>
  <tr><td>1. Numbered list<br />1. Second item</td><td class="arrow">&#x2192;</td><td>1. Numbered list<br />2. Second item</td></tr>
  <tr><td>Definition list<br />: is useful</td><td class="arrow">&#x2192;</td><td><dl style="display:inline"><dt>Definition list</dt><dd>is useful</dd></dl></td></tr>
  <tr><td>[link name](URL)</td><td class="arrow">&#x2192;</td><td><a href="URL">link name</a></td></tr>
  <tr><td>![Alt text](URL)</td><td class="arrow">&#x2192;</td><td>Image</td></tr>
  <tr><td>## Header ##<br />### Subheader ###<br />#### Subsubhead####<br/>##### Etc. #####</td><td class="arrow">&#x2192;</td>
      <td><b><span style="font-size:1.73em">Header</span>
          <br/><span style="font-size:1.44em">Subheader</span><br/><span style="font-size:1.2em">Subsubhead</span>
          <br/><span style="font-size:1em">Etc.</span></b></td></tr>
  <tr><td>***</td><td class="arrow">&#x2192;</td><td>Horizontal rule</td></tr>
  <tr><td>Some text[^fine] here.<br/>[^fine]: The fine print.</td><td class="arrow">&#x2192;</td><td>A footnote</td></tr>
  <tr><td>*[LA]: Los Angeles<br/>*[ppm]: parts per million</td><td class="arrow">&#x2192;</td><td>Abbreviations</td></tr>
</table>
