<%= render(:file => 'textile_help') %>

<h3>Markdown</h3>
<p>
  In addition to Textile, this wiki also understands 
  <a target="_new" href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.
</p>
