{
    CFBundleDevelopmentRegion = English; 
    CFBundleExecutable = Instiki; 
    CFBundleIconFile = ""; 
    CFBundleIdentifier = "com.nextangle.instiki"; 
    CFBundleInfoDictionaryVersion = "6.0"; 
    CFBundlePackageType = APPL; 
    CFBundleSignature = WIKI;
    CFBundleVersion = "0.9.0"; 
    LSUIElement = 1; 
    NSMainNibFile = MainMenu; 
    NSPrincipalClass = NSApplication; 
}